body{
   overflow: hidden;
   
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'),
       url('../utils/fonts/ABeeZee-Regular.ttf') format('truetype');

}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}


.slick-prev:before,
.slick-next:before {
  font-size: 50px !important; /* aumenta el tamaño de fuente */
  width: 30px !important; /* aumenta el tamaño del icono */
  height: 30px !important; /* asegura que la altura coincida con el ancho */
  line-height: 30px !important; /* centra verticalmente el icono */
}


.active {
  background-color: #D9D9D9;
  border-radius: 15px 0px 0px 15px;
}